<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Board - Student</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <!-- Display the Month the user is currently on -->
            <div id = "monthDisplay"></div>
            <select name="list" id="list" accesskey="target">
                <option value='none' selected>Calendar</option>
                <option value="quizBoard.html">Quiz</option>
                <option value="qaBoard.html">Q&A</option>
                <option value="feedbackBoard.html">Feedback</option>
                <option value="noticeBoard.html">Notice</option>
                <option value="resourceBoard.html">Resource</option>
            </select>
            <div>
                <!-- Define the buttons to be displayed for the user to click -->
                <button id = "backButton">Back</button>
                <button id = "nextButton">Next</button>
            </div>
        </div>
        <!-- Define the weekdays to be displayed at the top -->
        <div id="weekdays">
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Saturday</div>
            <div>Sunday</div>
        </div>

        <div id="calendar"></div>
    
    </div>


    <div id="deleteEventWindow">
        <h2 id="eventText"></h2>

        <p id="eventText"></p>
        <p id="eventDescriptionText"></p>
        <p id="eventTimeText"></p>
        <button id="closeButton">Close</button>
    </div>

    <div id="eventWindowBackdrop"></div>



    <script src="js/student_view.js"></script>
</body>
</html>